/* stylelint-disable */
/* eslint-disable */
/* postcss-disable */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== ROOT / STICKY FOOTER ===== */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: #f7f9fc;
  color: #0f172a;
}

a {
  text-decoration: none;
  color: inherit;
}
